@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 14% 96%;
    --foreground: 20 14% 4%;
    --card: 0 0% 100%;
    --card-foreground: 20 14% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14% 4%;
    --primary: 5 76% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 16 100% 67%;
    --secondary-foreground: 20 14% 4%;
    --muted: 20 14% 92%;
    --muted-foreground: 20 14% 30%;
    --accent: 343 56% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 5 75% 59%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 88%;
    --input: 20 14% 88%;
    --ring: 5 76% 59%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 193 68% 5%;
    --foreground: 180 14% 96%;
    --card: 193 68% 8%;
    --card-foreground: 180 14% 96%;
    --popover: 193 68% 8%;
    --popover-foreground: 180 14% 96%;
    --primary: 5 76% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 16 100% 67%;
    --secondary-foreground: 0 0% 0%;
    --muted: 193 68% 15%;
    --muted-foreground: 180 14% 70%;
    --accent: 343 56% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 5 75% 59%;
    --destructive-foreground: 180 14% 96%;
    --border: 193 68% 20%;
    --input: 193 68% 20%;
    --ring: 5 76% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline font-bold;
  }
}